:root { 
--gray_50_01:#f7fdff; 
--deep_orange_A100:#f19c7c; 
--gray_50_02:#fcfcfc; 
--red_600:#ea4134; 
--blue_A400:#1877f2; 
--pink_900:#753231; 
--red_800:#a94846; 
--light_blue_700:#0096c8; 
--red_A100_01:#ff937e; 
--deep_purple_400:#8064a2; 
--deep_orange_100_01:#efc8a8; 
--blue_A200:#4285f4; 
--red_400:#c0504d; 
--gray_500_1e:#939ba31e; 
--teal_100:#b5e8d3; 
--teal_300:#5bc29c; 
--black_900_01:#08090a; 
--deep_orange_200_01:#f4b1a8; 
--teal_900:#0d344f; 
--deep_orange_300:#ef924d; 
--blue_gray_900_02:#031f46; 
--blue_gray_900_01:#352c38; 
--blue_gray_700:#396666; 
--blue_gray_900:#333333; 
--deep_orange_100:#eac5a7; 
--gray_600:#6c747a; 
--blue_gray_100:#ced4da; 
--orange_A200:#fa9e52; 
--gray_600_23:#78787823; 
--amber_500:#fbbc05; 
--gray_800:#76413b; 
--red_A200:#ff616b; 
--blue_gray_500:#5d8584; 
--orange_A200_01:#db8f42; 
--yellow_50:#fff8ed; 
--orange_A200_02:#ffa64d; 
--teal_300_01:#45a2b9; 
--orange_200:#ffc56b; 
--indigo_400:#558ab5; 
--black_900_14:#00000014; 
--white_A700:#ffffff; 
--blue_gray_50:#ebedf0; 
--red_900:#a50000; 
--red_300:#c98d61; 
--red_400_02:#e06244; 
--red_500:#ea4335; 
--red_400_01:#d15a5a; 
--deep_purple_100:#ccc1da; 
--red_400_04:#e0603d; 
--red_400_03:#ef5448; 
--green_600:#34a853; 
--gray_50:#f8f9fa; 
--teal_200:#8cd1b5; 
--red_400_06:#d95a4e; 
--red_400_05:#d9634c; 
--deep_orange_A100_01:#ff957d; 
--black_900:#000000; 
--light_green_700:#77933c; 
--gray_500_01:#969696; 
--yellow_900:#dd7128; 
--blue_gray_800:#1b4268; 
--deep_orange_200:#ffac9d; 
--pink_800:#b30046; 
--deep_orange_400:#fc6a5a; 
--gray_900_02:#54201c; 
--red_300_02:#d86859; 
--deep_orange_300_03:#ff7c6b; 
--gray_700:#965450; 
--gray_900_03:#020c2b; 
--deep_orange_300_02:#ff8169; 
--gray_500:#939ba3; 
--blue_gray_900_06:#272b4f; 
--blue_gray_900_05:#18333d; 
--red_A100:#f29083; 
--deep_orange_300_01:#ff7859; 
--blue_gray_900_04:#183350; 
--gray_900:#1c171e; 
--gray_900_01:#1e191a; 
--red_300_01:#e88567; 
--blue_gray_900_03:#1e2046; 
--red_900_01:#7c130e; 
--orange_300:#ffa65b; 
--gray_100:#f7f5f9; 
--orange_100:#fddec0; 
--indigo_300:#6f96bd; 
--red_400_07:#bd504e; 
--indigo_700:#3f468e; 
}